{% extends "mainpage/base.html" %}

{% block content %}
    {% load crispy_forms_tags %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.css' %}" type = "text/css"/>

<link href="{% static 'youtube/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'mainpage/js/jquery.min.js' %}"></script>
<script src="{% static 'youtube/js/ckeditor/ckeditor.js' %}"></script>

<style>

    .fileUpload  {
        position: relative;
        overflow: hidden;
        margin: 10px;
}
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
}
    .submit {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .ui-select {
        position: relative;
        overflow: hidden;
        margin: 10px;
        padding-left: 10px;
        font-size: 20px;
    }
</style>


<div class="container">
    <h2 class="text-center" style="padding-bottom: 30px;">Upload a video</h2>
    <form class="form-horizontal" autocomplete="off" method="POST">
        {% csrf_token %}

        <!-- Video title -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Video title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter video title">
            </div>
        </div>

        <!-- Video link -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="link" data-toggle="tooltip" title="Full link, example: http://youtube.com/watch?v=abcd1234">Video link:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="link" placeholder="Enter youtube link">
            </div>
        </div>

        <!-- Video tags -->
        <div class="form-group">
            <label class="control-label col-sm-2" data-toggle="tooltip" title="Enter tags separated by spaces" for="tags">Tags:</label>
            <div class="col-sm-10">
                <textarea rows="15" class="form-control" id="tags" name="tags" placeholder="Enter tags"></textarea>
            </div>
        </div>

        <!-- Video tab information
         Tabs are received from views.py, as such:
         ('Tab 1', 'Tab 2', .... 'Tab 6') -->
        {% for tab in tabs %}
            <div class="form-group">
                <label class="control-label col-sm-2" data-toggle="tooltip" title="Enter {{ tab }} information here."
                       for="{{ tab }}" >{{ tab }}:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" data-toggle="tooltip" title="Name: {{ tab_name_length }} chars, no spaces" id="{{ tab }}-name" name="{{ tab }}-name" placeholder="Enter tab name" style="text-align: left;" maxlength="{{ tab_name_length }}">
                </div>
                <div class="col-sm-8">
                    <textarea rows="1" class="form-control" data-toggle="tooltip"
                              title="Desc: {{ tab_desc_length }} chars." id="{{ tab }}-desc"
                              name="{{ tab }}-desc" placeholder="Enter tab description"
                              maxlength="{{ tab_desc_length }}"> </textarea>
                    <script> CKEDITOR.replace( "{{ tab }}-desc", {extraPlugins : 'confighelper', } );</script>
                </div>
            </div>
        {% endfor %}

        <!-- Video Difficulty selection -->
        <div class="form-group">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label class="control-label" style="float: left; font-size: 20px;">Difficulty:</label>
                <div class="ui-select">
                    <select name="video-difficulty">
                        <option value="1">Beginner</option>
                        <option value="2">Intermediate</option>
                        <option value="3">Advanced</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1">
            </div>

            <!-- Submit button-->
            <div class="col-md-1">
                <button type="submit" class="submit btn btn-success"> Submit </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}