{% extends 'lesson_quiz/lesson_base.html' %}
{% load quiz_tags %}
{% block page_title %}Lesson List{% endblock %}
{% block breadcrumbs %}
    <li class="active"><a href="{% url 'lesson-list' %}">Lessons</a></li>
{% endblock %}
{% block body_content %}
<div class="span12">
    <h1>Lesson List{% if is_instructor %} <a class="btn btn-warning btn-large pull-right create-lesson-btn" href="{% url 'admin:lesson_quiz_lesson_add' %}">Create A New Lesson</a>{% endif %}</h1>

    <table class="table table-striped">
        <tr>
            <th>Lesson Title</th>
            <th>Lesson Content</th>
            <th>{% if is_student %}Take Quiz{% elif is_instructor%}Student Quiz Results{% endif %}</th>
        </tr>
        {% for lesson in object_list %}
        <tr>
            <td>{{ lesson.title }}</td>
            <td><a class="btn btn-primary" href="{% url 'lesson-detail' lesson.pk %}">{% if is_student %}Review Lesson Content{% elif is_instructor %}Review Lesson Content{% endif %}</a></td>
            <td>
                {% has_student_completed_quiz request.user lesson as quiz_taken %}
                {% if is_student %}
                    {% if not quiz_taken %}
                        <a class="btn btn-success" href="{% url 'lesson-take-quiz' lesson.pk %}">Take Quiz</a>
                    {% else %}
                        <button type="button" class="btn" disabled="disabled">Quiz Completed</button>
                    {% endif %}
                {% elif is_instructor %}
                    <a class="btn btn-info" href="{% url 'lesson-student-results' lesson.pk %}">See Student Quiz Results</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
