{% extends "../mainpage/base.html" %}



{% block titleBlock %} Lesson Form {% endblock %}


<!--
Google CDN for jQuery Host.
-->
{% block headContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

	
	
	
	<h1 align="center" style="color: #000000;"> Develop a Course</h1>
	
	<br></br>
	<h2 align="center">Enter the appropriate text to the fields.</h2>
	
	<br></br>

	<h3 align="center"> Please fill out the information below, thank you.</h3>

	<br></br>

	


    
{% endblock %}

