{% extends "../mainpage/base.html" %}



{% block titleBlock %} Lesson Form {% endblock %}


<!--
Google CDN for jQuery Host.
-->
{% block headContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

	
	
	
	<h1 align="center" style="color: #000000;"> Develop a Course</h1>
	
	<br></br>
	<h2 align="center">Enter the appropriate text to the fields.</h2>
	
	<br></br>

	<h3 align="center"> Please fill out the information below, thank you.</h3>

	<br></br>

	
<form id="rendered-form" action="/" method = "GET">
	{% csrf_token %}
	<div class="fb-text form-group field-coursetitle">
		<label for="coursetitle" class="fb-text-label">
				Title 
			<span class="required">*</span> 
			<span class="tooltip-element" tooltip="Input a title for the course">?</span>
		</label> 
		<input type="text" required="" placeholder="Course Title" class="form-control" name="coursetitle" maxlength="40" id="coursetitle" aria-required="true"></div>
			<div class="fb-undefined form-group field-course-description">
			<label for="course-description" class="fb-textarea-label">
				Course Description 
				<span class="required">*</span> 
				<span class="tooltip-element" tooltip="Insert a description of the course">?</span>
			</label>
	<textarea type="textarea" required="" class="form-control" name="course-description" maxlength="300" id="course-description" aria-required="true"></textarea></div>
	<div class="fb-radio form-group field-radiodifficulty">
		<label for="radiodifficulty" class="fb-radio-group-label">
			Course Difficulty 
			<span class="required">*</span> 
			<span class="tooltip-element" tooltip="Select an expected difficulty of the course.">?</span>
		</label>
		<div class="radio-group"><input value="1" type="radio" required="" class="radio-group" name="radiodifficulty" id="radiodifficulty-0" aria-required="true" checked=""> 
			<label for="radiodifficulty-0">
				Beginner
			</label>
			<br>
			<input value="2" type="radio" required="" class="radio-group" name="radiodifficulty" id="radiodifficulty-1" aria-required="true"> 
				<label for="radiodifficulty-1">
					Intermediate
				</label>
				<br>
			<input value="3" type="radio" required="" class="radio-group" name="radiodifficulty" id="radiodifficulty-2" aria-required="true"> 
			<label for="radiodifficulty-2">
				Advanced
			</label>
			<br>
		</div>
	</div>
<center><input type="submit" value = "Submit"/></center>
</form>
	

    
{% endblock %}

