{% extends "../mainpage/base.html" %}
{% block title %} Course Form {% endblock %}

{% block content %}
<form action="" method = "POST">
	{% csrf_token %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1 align="center">
						Develop a Course
					</h1>
				</div>
			</div>
		</div>
		<!-- Title -->
		<div class="row">
			<div class="col-md-1">
				<h4>
					Title
				</h4>
			</div>
			<div class="col-md-11">
				<h4 align = "left" >{{ form.title }}</h4>
			</div>
		</div>
		<!-- Description -->
		<div class="row">
			<div class="col-md-1">
				<h4>
					Description
				</h4>
			</div>
			<div class="col-md-11">
				<h4>{{ form.description }}</h4>
			</div>
		</div>
		<!-- Difficulty -->
		<div class="row">
			<div class="col-md-1">
				<h4>
					Difficulty
				</h4>
			</div>
			<div class="col-md-11">
				<h4>{{ form.difficulty }}</h4>
			</div>
		</div>
		<!-- Submit Button -->
		<div class="row">
			<div class="col-md-1">
				<!-- Nothing -->
			</div>
			<div class="col-md-11">
				<br><br><br>
				<h4>
					<input type="submit" value = "Submit"/>
				</h4>
			</div>
		</div>
	</div>
</form>
{% endblock %}

