{% extends "../mainpage/base.html" %}
{% load crispy_forms_tags %}


{% block titleBlock %} Course Form {% endblock %}


<!--
Google CDN for jQuery Host.
-->
{% block headContent %}

{% endblock %}


{% block content %}

	
	
	
	<h1 align="center" style="color: #000000;"> Develop a Course</h1>
	
	<br></br>
	<h2 align="center">Enter the appropriate text to the fields.</h2>
	
	<br></br>

	<h3 align="center"> Please fill out the information below, thank you.</h3>

	<br></br>
<form action="" method = "POST">
	{% csrf_token %}
	<h2>{{ form.title }}</h2>
	<h2>{{ form.description }}</h2>
	<h2>{{ form.difficulty }}</h2>
	<center><input type="submit" value = "Submit"/></center>
</form>
{% endblock %}

