{% extends "mainpage/base.html" %}

{% block title %} Drag and Drop {% endblock %}

{% block content %}

<form id="rendered-form"><div class=""><h1 type="h1" class="header" name="" id="">Title Header</h1></div><div class="fb-text form-group field-title-field"><label for="title-field" class="fb-text-label">Title Field  </label> <input type="text" placeholder="Title Field" class="form-control" name="title-field" id="title-field"></div><div class="fb-text form-group field-word-one"><label for="word-one" class="fb-text-label">Word One  </label> <input type="text" placeholder="Enter a word" class="form-control" name="word-one" id="word-one"></div><div class="fb-submit form-group field-submit"><button type="submit" class="button-input btn btn-default" name="submit" style="default" id="submit">Submit</button></div></form>

{% endblock %}