{% extends "mainpage/base.html" %}

{% block titleBlock %} Drag and Drop {% endblock %}


{% block content %}

<form id="rendered-form" data-form-render="[object Object]">
	<div>
		<h1>Drag and Drop Sentence Creator</h1>
	</div>
	
	{% for word in words %}
	<div class="fb-text form-group field-text-1493891166948">
		<label class="fb-text-label">
			Word {{ word.0 }} 
		</label>
		
		<input type="text" class="form-control" name="{{ word.0 }}-word" id="text-1493891166948">
	</div>
	{% endfor %}
		
	<div class="fb-button form-group field-button-1493891193076">
		<button type="submit" class="btn btn-undefined" name="button-1493891193076" style="undefined" id="button-1493891193076">
			Button
		</button>
	</div>
</form>


{% endblock %}
