{% extends "../mainpage/base.html" %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					LayoutIt! <small>Interface Builder for Bootstrap</small>
				</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
				
					<ul class="nav nav-pills">
						<li class="active">
							<!-- href = /manage/ 
									 /manage/title
									 /manage/creation
									 /manage/beginner
									 /intermediate
									 /advanced
									-->
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Profile</a>
						</li>
						<li class="disabled">
							<a href="#">Messages</a>
						</li>
						<li class="dropdown pull-right">
							 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
				</div>
			</div>
			{% for course in courses %}
			<div class="row">
				<div class="col-md-3">
					<h3>
						{{ course.title }}
					</h3>
				</div>
				<div class="col-md-3">
					<h5>
						{{ course.description }}
					</h5>
				</div>
				<div class="col-md-3">
					<!-- Test button for correct linking --> 
					<button type="button" class="btn btn-success btn-lg btn-block active" href="/manage/course/{{course.link}}">
						Edit
					</button>
				</div>
				<div class="col-md-3">
					 
					<button type="button" class="btn btn-danger btn-lg active btn-block" id="{course.link}">
						Delete
					</button>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</div>
{% endblock %}