{% extends "mainpage/base.html" %}

{% block title %} Matching {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		
		<form id="rendered-form" data-form-render="[object Object]">
		<div class="col-md-12">
			<h1>
				Matching Quiz Creator
			</h1>
			<div class="row">
				<div class="col-md-6">
				
					<h2>
						Matching Prompts
					</h2>
					
					<div class="fb-text form-group field-matching-one">
						<label class="fb-text-label">
							Matching 1 Prompt
						</label>
		
						<input type="text" class="form-control" name="matching-one" maxlength="25" id="matching-one">
					</div>
				
				</div>
				<div class="col-md-6">
				
					<h2>
						Matching Answers
					</h2>
				
					<div class="fb-text form-group field-matching-one-answer">
						<label class="fb-text-label">
							Matching 1 Answer
						</label>
						
						<input type="text" placeholder="Matching 1 Answer" class="form-control" name="matching-one-answer" maxlength="25" id="matching-one-answer">
					</div>
				
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				
					<div class="fb-button form-group field-button-1493179932252">
						<button type="submit" class="btn btn-undefined" name="button-1493179932252" style="undefined" id="button-1493179932252">
							Submit
						</button>
					</div>
				
				</div>
				<div class="col-md-4">
				</div>
			</div>
			
			
		</div>
		</form>
	</div>
</div>


	
	
	
	
	
