{% extends "mainpage/base.html" %}


{% block content %}
<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center" style='font-family: "Times New Roman", Times, serif; '>
	                    Hola Mundo - {{title}}
					</h3>
				</div>
			</div>
                <div class="row">
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" style="max-height:650px;"
                                    src="https://www.youtube.com/embed/{{video}}?rel=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
					<div class="tabbable" id="tabs-925380">
						<ul class="nav nav-tabs">
                            {% for tab in tabInfo %}
                                {% if forloop.counter <= 1 %}
                                <li class="active">
                                    <a href="#panel-{{ tab.0 }}" data-toggle="tab">{{ tab.0|safe }}</a>
                                    <!-- <a href="/edit/">Edit Text</a> -->
                                </li>
                                {% else %}
                                <li>
                                    <a href="#panel-{{ tab.0 }}" data-toggle="tab">{{ tab.0|safe  }}</a>
                                    <!-- <a href="/edit/">Edit Text</a> -->
                                </li>
                                {% endif %}
                            {% endfor %}
						</ul>
						<div class="tab-content" id="tabs">
                            {% for tab in tabInfo %}
                                {% if forloop.counter <= 1 %}
                                <div class="tab-pane active" style="overflow-y:auto; height: 15vh;" id="panel-{{ tab.0 }}">
                                    <p>


                                        {{ tab.1|safe }}
                                        <!-- <button type="button" id="edit-text">Edit Text</button> -->
                                        <body>
                                          <textarea name="editor1"></textarea>
                                          <script>
                                          CKEDITOR.replace( 'editor1' );
                                          </script>
                                        </body>
                                    </p>
                                    <!-- <a href="/edit/">Edit Text</a> -->
                                </div>
                                {% else %}
                                <div class="tab-pane" style="overflow-y:auto; height: 15vh;" id="panel-{{ tab.0 }}">
                                    <p>
                                        {{ tab.1 | safe}}
                                        <!-- <button type="button" id="edit-text">Edit Text</button> -->
                                        <body>
                                          <textarea name="editor1"></textarea>
                                          <script>
                                          CKEDITOR.replace( 'editor1' );
                                          </script>
                                        </body>
                                    </p>
                                    <!-- <a href="/edit/">Edit Text</a> -->
                                </div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 ">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
