{% extends "Video_page/video.html" %}

{% block title %}
	Hola Mundo - {{title}}
{% endblock %}

{% block video %}

	<div class="embed-responsive embed-responsive-4by3">
		<iframe class="embed-responsive-item" style="max-height:650px;"
			src="https://www.youtube.com/embed/{{video}}?rel=0&amp;showinfo=0"
			frameborder="0" allowfullscreen>
		</iframe>
	</div>
{% endblock %}



{% block tab1 %}
	{{tab1}}
{% endblock %}

{% block tab1desc %}
	{{tab1desc}}
{% endblock %}



{% block tab2 %}
	{{tab2}}
{% endblock %}

{% block tab2desc %}
	{{tab2desc|linebreaks}}
{% endblock %}



{% block tab3 %}
	{{tab3}}
{% endblock %}

{% block tab3desc %}
	{{tab3desc}}
{% endblock %}



{% block tab4 %}
	{{tab4}}
{% endblock %}

{% block tab4desc %}
	{{tab4desc}}
{% endblock %}



{% block tab5 %}
	{{tab5}}
{% endblock %}

{% block tab5desc %}
	{{tab5desc}}
{% endblock %}



{% block tab6 %}
	{{tab6}}
{% endblock %}

{% block tab6desc %}
	{{tab6desc}}
{% endblock %}