{% extends "mainpage/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Short Answer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
  </script>
</head>
<center>
<form id="rendered_form" action="" method="POST" class="QuestionForm">
  {% csrf_token %}
  <div class="container">
    <center>
    <h1><b>Create Short Answer/Essay Question</h1></b>
    </center>
    <center>
      <h4><b>Enter a Title:</h4></b>
      {{ form.title }}</br>
      <h5><b>Enter a Difficulty:</b></h5>
      {{ form.difficulty }}</br>
      <h6><b>Enter a Question:</b></h6>
      {{ form.question }}</br>
      <h8><b>Enter the Correct Answer:</b></h8></br>
      {{ form.correctAnswer }}</br>
      <!-- {{ form.correctAnswer }} -->
      <!-- {{ form|crispy }} -->
     </br>
    <center><button type="submit" class="save btn btn-default">Save</button></center>
    </center>
  </div>
</form>
</center>
</html>
<!-- <a href="{% url 'quiz' %}" class="top-menu"></a> -->
{% endblock %}
