{% extends "mainpage/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Short Answer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
  </script>
</head>
<div class="container">
  <h1><small><b>Create Quiz Question</h1></small></b>
  <form method="POST" class="QuestionForm">
      <!-- <input type="text" name="numOfQuestions"> -->
      {% csrf_token %}
      <!-- {{ form.as_p }} -->
      {{ form|crispy }}
      <button type="submit" class="save btn btn-default">Save</button>
  </form>
</div>
<!-- <a href="{% url 'quiz' %}" class="top-menu"></a> -->
{% endblock %}
