{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <center><title>Short Answer/title></center>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% csrf_token %}
<html>
 <ul class="list-group" align="center">
  <li class="list-group-item">User Name</li>
  <li class="list-group-item">Score</li>
</ul> 
<center><h1>You have Answered the Short Answer/Essay Question</h1></center>
</html>
{% endblock %}