{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Short Answer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
{% csrf_token %}
<center>
<html>
<div class="container">
   	<form method="GET" class="QuestionForm" id="quiz" >
    	{% csrf_token %}
    	<div class="question">
        <p id="title"> {{ title }}</p>
    		<label><name="question" id="1" value="{{question}}">{{question}}</label>
    	</div>
    	<!--<div class="choice">
			<label><input type="text" name="Answer" id="answer" value=""></label> 
		</div> -->
	</form>
	<form action= "" method= "POST" class = "AnswerForm">
		{% csrf_token %}
    <input type="text" value="Answer"/>
		{{ form.answer }}</br>
    <input type="submit" value="Submit"/>
  	</form>
</div>
</html>
</center>
{% endblock %}