{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Short Answer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
{% csrf_token %}
<html>
<p id="question"> {{ question }}</p>
<div class="container">
   <form method="GET" class="QuestionForm" id="quiz" >
    {% csrf_token %}
	<label><input type="text" name="Answer" id="answer" value="{{answer}}">{{answer}}</label> -->
    <button type="submit" class="btn btn-default" id="{{score}}">Submit</button> 
  </form>
</div>
</html>
{% endblock %}