{% extends "mainpage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Short Answer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
{% csrf_token %}
<form method="POST" class="AnswerForm" action="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
          <center><h1><small><b>{{title}}</center></h1></small></b>
          <center><h1><small><b>{{question}}</center></h1></small></b>
          <center><h1><small><b>Answer</center></h1></small></b>
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          {{ form|crispy }}
          <center><button type="submit" class="save btn btn-default">Save</button></center>
        </div>
      </div>
    </div>
  </div>
</form>
</center>
</html>
{% endblock %}
