{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fill In The Blank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
{% csrf_token %}
<html>
<form id="fillintheblank_form" action="" method="POST" class="QuestionForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
          <center><h1><small><b>Answer the Fill in the Blank Question</center></h1></small></b>
          {% csrf_token %}

          {{title}}
          {% if form.question_start == " " %}

          <h4>{{form}}&nbsp;<label><name="question_end" id="1" value="{{question_end}}">{{question_end}}</label></h4>

          {% elif form.question_end == " " %}
          <h5>{<label><name="question_start" id="2" value="{{question_start}}">{{question_start}}</label>&nbsp;{{form}}</h5>

          {% else %}
          <h6> <label><name="question_start" id="2" value="{{question_start}}">{{question_start}}</label>&nbsp;&nbsp;{{form}}&nbsp;<label><name="question_end" id="1" value="{{question_end}}">{{question_end}}</label></h6>

          {% endif %}
          <button type="submit" value="Submit" align="center">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
</html>
{% endblock %}
