{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fill In The Blank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
{% csrf_token %}
<html>
<center>
<div class="container">
  <h1><b>Answer the Fill In The Blank Question</h1></b>
  {{ form.title }}</br>
  {% if form.question_start == " " %}

    <h4><b>Answer:</b> {{ form.answer }} {{ form.question_end }}</h4>

  {% elif form.question_end == " " %}
    <h5>{{ form.question_start }} <b>Answer:</b>{{ form.answer }}</h5>
  {% else %}
    <h6> {{ form.question_start }} <b>Answer:</b> {{ form.answer }} {{ form.question_end }}</h6>
  {% endif %}
  <button type="submit" value="Submit">Submit</button>
</div>
</center>
</html>
{% endblock %}