{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fill In The Blank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
{% csrf_token %}
<html>
<p id="question_start"> {{ question_start }}</p>
<div class="container">
   <form method="POST" action="/fillintheblank/submit/">
    {% csrf_token %}
    <div class="text">
      <label><input type="text" name="question_start" id="start" value="{{question_start}}">{{question_start}}</label>
    </div>
        <div class="text">
      <label><input type="text" name="answer" id="answer" value="{{answer}}">{{answer}}</label>
    </div>
    <div class="text">
      <label><input type="text" name="question_end" id="end" value="{{question_end}}">{{question_end}}</label>
    </div>
   <button type="submit" class="btn btn-default" id="{{score}}">Submit</button>
</form>
</div>
</html>
{% endblock %}