<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %} {% endblock %}</title>

	{% load staticfiles %}

	
	<link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}" type = "text/css"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body style="padding-top:60px; background-color:#66bbdd">

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			{% if user.is_authenticated %}
			<!-- Navbar for when a user is logged in. -->
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="/">Hola Mundo</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href=#>Link</a>
						</li>
						<li>
							<a href=#>Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/DragDemo/">Drag Demo</a>
								</li>
								<li>
									<a href="/results/">Basic Results</a>
								</li>
								<li>
									<a href="/manage">Terrible Manage Page</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="/createcourse">Create a course?</a>
								</li>
								<li>
								  <a href="/UserSettingsPage/profile">Edit Profile</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="/logout/">Logout {{ user.username }}</a>
								</li>
							</ul>
						</li>
					</ul>
                    <form class="navbar-form navbar-left" type=get" action="/results" autocomplete="off">
                        <div class="form-group">
                            <input class="form-control" id="query" type="text" name="query" placeholder="Search...">
                        </div>
                        <button class="btn btn-default" id="search_submit" type="submit"> Search</button>
                    </form>
					<ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout/">Logout {{ user.username }}</a>
                            </li>
						<li class="dropdown" style="margin-right: 20px;">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu" >
								<li>
									<a href="/youtube/">Upload a video</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
			
			{% else %}
			
			<!-- Navbar for when no user is logged in -->
			
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="/">Hola Mundo</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href=#>Link</a>
						</li>
						<li>
							<a href=#>Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/DragDemo/">Drag Demo</a>
								</li>
								<li>
									<a href="/results/">Basic Results</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="/login/">Login</a>
								</li>

							</ul>
						</li>
					</ul>
                    <form class="navbar-form navbar-left" type=get" action="/results" autocomplete="off">
                        <div class="form-group">
                            <input class="form-control" id="query" type="text" name="query" placeholder="Search...">
                        </div>
                        <button class="btn btn-default" id="search_submit" type="submit"> Search</button>
                    </form>
					<ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#login-overlay" data-toggle="modal">Login</a>
                            </li>
						<li class="dropdown" style="margin-right: 20px;">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu" >
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
			
			{% endif %}

			{% block content %}

			{% endblock %}

		</div>
	</div>
</div>
</body>
    <script src="{% static 'mainpage/js/jquery.min.js' %}"></script>
    <script src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainpage/js/scripts.js' %}"></script>


  <!-- MODAL CODE HERE -->
      <div id="login-overlay" class="modal fade">
	  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel" style="text-align:center;"> Hola Mundo</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              {% csrf_token %}
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter your username" placeholder="username">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="password">
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Remember me
                                  </label>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">Log in</button>
							  <!-- IF WE WANT A "FORGOT PASSWORD" button -->
                              <!--<a href="/forgot/" class="btn btn-default btn-block">Help to login</a> -->
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">No account? Sign up <span class="text-success">NOW</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Track your videos</li>
                          <li><span class="fa fa-check text-success"></span> Keep track of progress</li>
                          <li><span class="fa fa-check text-success"></span> Videos suggested to you</li>
                          <li><span class="fa fa-check text-success"></span> Email updates</li>
                          <li><span class="fa fa-check text-success"></span> Blah Blah blah</li>
                          <!--<li><a href="/read-more/"><u>Read more</u></a></li> -->
                      </ul>
                      <p><a href="/new-customer/" class="btn btn-info btn-block">Sign up</a></p>
                  </div>
              </div>
          </div>
      </div>
	</div>
  </div>
</html>
