<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %} {% endblock %}</title>

	{% load staticfiles %}

	{% block headLink %}
	
	{% endblock %}
	<link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}" type = "text/css"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Favicon -->

	<link rel="shortcut icon" href="{%  static 'mainpage/img/favicon.ico' %}">

	
    <script src="{% static 'mainpage/js/jquery.min.js' %}"></script>
    <script src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainpage/js/scripts.js' %}"></script>

	<!--
	The head content block is to upload scripts that aren't currently on the base page. Particularly, the jQuery
	scripts from google and microsoft. These imports aren't necessary on every page, however, so it's being left
	as a block to fill in.	
	-->
	{% block headContent %}
	
	{% endblock %}
	
	{% block headScript %}
	
	{% endblock %}
	
    <!--
	The style content block is similar to the head content block. Just for convenience primarily, however, you
	can put your scripts in this section and it will be in the correct section.
	-->

	{% block styleContent %}

	{% endblock %}

  </head>

    <style>
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
        }
    </style>


	
  <body style="padding-top:60px;">

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			{% if user.is_authenticated %}
			<!-- Navbar for when a user is logged in. -->
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> 
					<a class="navbar-brand" href="/">
						<span class="glyphicon glyphicon-home"></span>
						Hola Mundo
					</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <form class="navbar-form navbar-left" type="get" action="/results" autocomplete="off">
                        <div class="form-group">
                            <input class="form-control" id="query" type="text" name="query" placeholder="Search...">
                        </div>
                        <button class="btn btn-default" id="search_submit" type="submit"> Search</button>
                    </form>
					<ul class="nav navbar-nav navbar-right">
					<!-- loads the py file created in templatetags folder for custom html tag functionality -->
					{% load base_extras %}
					<!-- checks if the current user is a conent creator or superuser. If they are then they will -->
					<!-- see the course drop down menu in the navbar at the top of the page. If not then the course -->
					<!--options will not appear -->
					{% if request.user|has_group:"Content Creator" or request.user.is_superuser %}
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/createcourse">Create a Course</a>
								</li>
								<li>
									<a href="/manage">My Courses</a>
								</li>
                                <li>
                                    <a href="/youtube/">Upload a Video</a>
                                </li>
							</ul>
						</li>
					{% endif %}
						<li>
							<a href='/myHolaMundo'>My Hola Mundo</a>
						</li>
                        <li>
                            <a href="/myProfile/" style="margin-right: 20px;">My Profile</a>
								
							</a>
                        </li>
					</ul>
				</div>

			</nav>
			
			{% else %}
			
			<!-- Navbar for when no user is logged in -->
			
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> 
					<a class="navbar-brand" href="/">
						<span class="glyphicon glyphicon-home"></span>
						Hola Mundo
					</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <form class="navbar-form navbar-left" type=get" action="/results" autocomplete="off">
                        <div class="form-group">
                            <input class="form-control" id="query" type="text" name="query" placeholder="Search...">
                        </div>
                        <button class="btn btn-default" id="search_submit" type="submit"> Search</button>
                    </form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href='/register'>Register</a>
						</li>
                        <li>
                            <a href="#login-overlay" data-toggle="modal" style="margin-right: 20px;">
								
								Login
							</a>
                        </li>
					</ul>
				</div>

			</nav>
			
			{% endif %}

			{% block content %}

			{% endblock %}

		</div>
	</div>
</div>
</body>


  <!-- MODAL CODE HERE -->
      <div id="login-overlay" class="modal fade">
	  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel" style="text-align:center;"> Hola Mundo</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              {% csrf_token %}
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter your username" placeholder="username">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="password">
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Remember me
                                  </label>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">Log in</button>
							  <!-- IF WE WANT A "FORGOT PASSWORD" button -->
                              <!--<a href="/forgot/" class="btn btn-default btn-block">Help to login</a> -->
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">No account? Sign up <span class="text-success">NOW</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Track your videos</li>
                          <li><span class="fa fa-check text-success"></span> Keep track of progress</li>
                          <li><span class="fa fa-check text-success"></span> Videos suggested to you</li>
						  <br>
						  <br>
                      </ul>
					  
                      <p><a href="/register/" class="btn btn-info btn-block">Sign up</a></p>
                  </div>
              </div>
          </div>
      </div>
	</div>
  </div>
</html>