{% extends "mainpage/base.html" %}

{% block titleBlock %} Drag and Drop Sentence {% endblock %}

{% block styleContent %}

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

	<style>
		#sortable { 
		  list-style-type: none; 
		  margin: 0; 
		  padding: 0; 
		}

		#sortable li { 
		  margin: 3px 3px 3px 0; 
		  padding: 1px; 
		  float: left; 
		  width: 175px; 
		  height: 90px; 
		  font-size: 4em; 
		  text-align: center; 
		}

		.div3 {
		  margin-left: 0px;
		  height:200px;
		  padding:50px;
		  border:1px solid #aaaaaa;
		  background-color: LightBlue;
		}

		.buttonli { 
		  margin: 20px; 
		  padding: 20px; 
		  border: 0px solid;
		  border-radius: 25px;
		  box-shadow: 5px 5px 5px grey;
		}
	</style>

{% endblock %}

{% block headContent %}

    <script type='text/javascript' src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

	<script>
		$(function() {
			$( "#sortable" ).sortable();
			$( "#sortable" ).disableSelection();
		  });
	</script>
	
{% endblock %}


{% block content %}
<ul id="sortable" class="div3">
	<li id="word1" class="ui-state-default buttonli">Order</li>
	<li id="word2" class="ui-state-default buttonli">The</li>
	<li id="word3" class="ui-state-default buttonli">Words</li>
	<li id="word4" class="ui-state-default buttonli">Put</li>  
	<li id="word4" class="ui-state-default buttonli">In</li>
</ul>	
{% endblock %}

