{% extends "mainpage/base.html" %}

{% block title %} Hola Mundo {% endblock %}

{% load staticfiles %}

{% block bodyStyle %}
    <style>
        body {
            background: url({% static 'mainpage/img/bg.jpg' %}) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="brand" style="text-shadow: 4px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">Authentic Spanish Language</div>
	
	<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
						
                        <div class="carousel-inner">
                            <div class="item active">
								<a href="/results/?query=beginner">
									<img class="img-responsive img-full" src="{% static 'mainpage/img/slide-1.jpg' %}" alt="">
								</a>
								<div class="carousel-caption">
									Beginner
								</div>
                            </div>
                            <div class="item">
								<a href="/results/?query=intermediate">
									<img class="img-responsive img-full" src="{% static 'mainpage/img/slide-2.jpg' %}" alt="">
								</a>
								<div class="carousel-caption">
									Intermediate
								</div>
                            </div>
                            <div class="item">
								<a href="/results/?query=advanced">
									<img class="img-responsive img-full" src="{% static 'mainpage/img/slide-3.jpg' %}" alt="">
								</a>
								<div class="carousel-caption">
									Advanced
								</div>
                            </div>
                        </div>
						
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small></small>
                    </h2>
                    <h1 class="brand-name">Multiple video difficulties</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small> To
                            <strong>fine tune</strong>
							your learning experience
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"> Information about the site
                    </h2>
                    <hr>
                    <p> Un sitio para todos los que aman el idioma español y su asombrosa variedad de culturas. A site for all who love the Spanish language and culture in all its amazing variety. New videos will be added regularly and suggestions and/or activities welcome. Click the photos above to access video clips and language-learning activities. </p>
					<p> Or, search for specific videos with the search bar above.</p>
					
					</div>
            </div>
        </div>

    </div>
	
	<footer>
        <div class="container">
            <div class="row">
				<div class="col-lg-1">
				</div>
                <div class="col-lg-5 text-right">
                    <p>Copyright &copy; Authentic Spanish Language<br>Email: Karen.Schairer@nau.edu</p>
                </div>
                <div class="col-lg-5 text-left">
					<p>South San Francisco Street<br>Flagstaff, AZ 86001 </p>
                </div>
				<div class="col-lg-1">
				</div>
            </div>
        </div>
    </footer>
</div>

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

{% endblock %}
