  <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel" style="text-align:center;"> Hola Mundo</h4>
   </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="email">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="password">
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Remember me
                                  </label>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">Log in</button>
							  <!-- IF WE WANT A "FORGOT PASSWORD" button -->
                              <!--<a href="/forgot/" class="btn btn-default btn-block">Help to login</a> -->
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">No account? Sign up <span class="text-success">NOW</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Track your videos</li>
                          <li><span class="fa fa-check text-success"></span> Keep track of progress</li>
                          <li><span class="fa fa-check text-success"></span> Videos suggested to you</li>
                          <li><span class="fa fa-check text-success"></span> Email updates</li>
                          <li><span class="fa fa-check text-success"></span> Blah Blah blah</li>
                          <!--><li><a href="/read-more/"><u>Read more</u></a></li> -->
                      </ul>
                      <p><a href="/new-customer/" class="btn btn-info btn-block"></a> Sign up</p>
                  </div>
              </div>
          </div>