{% extends "../mainpage/base.html" %}


<!--

-->
{% block titleBlock %} Drag and Drop Creator Form {% endblock %}



{% block headContent %}
<!--
No need for JQuery
Jquery is located in mainpage/static/mainpage/js/jquer.min
-->
{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<dl>
				<dt>
					Instructions to guide maybe?
				</dt>
				<dd>
					Further instructions below... 
				</dd>
			</dl>
			
			
			
		</div>
	</div>
</div>
	
{% endblock %}

