{% extends "../mainpage/base.html" %}


<!--

-->
{% block titleBlock %} Drag and Drop Creator Form {% endblock %}



{% block headContent %}
<!--
No need for JQuery
Jquery is located in mainpage/static/mainpage/js/jquer.min
-->
{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<dl>
				<dt>
					Instructions to guide maybe?
				</dt>
				<dd>
					Further instructions below... 
				</dd>
			</dl>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Email address
							</label>
							<input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Password
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputFile">
								File input
							</label>
							<input type="file" id="exampleInputFile" />
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<div class="checkbox">
							 
							<label>
								<input type="checkbox" /> Check me out
							</label>
						</div> 
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}

