{% extends "../mainpage/base.html" %}


<!--

-->
{% block titleBlock %} Drag and Drop Sentence {% endblock %}


{% block headContent %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

$(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  
{% endblock %}


{% block content %}
<ul id="sortable" class="div3">
	<li id="word1" class="ui-state-default">The</li>
	<li id="word2" class="ui-state-default">piano</li>
	<li id="word3" class="ui-state-default">play</li>
	<li id="word4" class="ui-state-default">here</li>  
</ul>	
{% endblock %}

