{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matching Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% csrf_token %}
<html>
<p align="center">{{ title }}</p>
<div class="container">
   <form method="GET" class="MatchingForm" id="quiz">
    {% csrf_token %}
	{% if options > 0 %}
		<div class="question">
		  <label><name="left_one" id="1" value="{{left_one}}">1. {{left_one}}</label>
		</div>
	{% endif %}
	{% if options > 1 %}
		<div class="question">
		  <label><name="left_two" id="2" value="{{left_two}}">2. {{left_two}}</label>
		</div>
	{% endif %}
	{% if options > 2 %}
		<div class="question">
		  <label><name="left_three" id="3" value="{{left_three}}">3. {{left_three}}</label>
		</div>
	{% endif %}
	{% if options > 3 %}
    <div class="question">
      <label><name="left_four" id="4" value="{{left_four}}">4. {{left_four}}</label>
    </div>
	{% endif %}
	{% if options > 4 %}
	<div class="question">
      <label><name="left_five" id="5" value="{{left_five}}">5. {{left_five}}</label>
    </div>
	{% endif %}
	{% if options > 5 %}
	<div class="question">
      <label><name="left_six" id="6" value="{{left_six}}">6. {{left_six}}</label>
    </div>
	{% endif %}
	{% if options > 6 %}
	<div class="question">
      <label><name="left_seven" id="7" value="{{left_seven}}">7. {{left_seven}}</label>
    </div>
	{% endif %}
	{% if options > 7 %}
	<div class="question">
      <label><name="left_eight" id="8" value="{{left_eight}}">8. {{left_eight}}</label>
    </div>
	{% endif %}
	{% if options > 8 %}
	<div class="question">
      <label><name="left_nine" id="9" value="{{left_nine}}">9. {{left_nine}}</label>
    </div>
	{% endif %}
	{% if options > 9 %}
	<div class="question">
      <label><name="left_ten" id="10" value="{{left_ten}}">10. {{left_ten}}</label>
    </div>
	{% endif %}
	{% if options > 10 %}
	<div class="question">
      <label><name="left_eleven" id="11" value="{{left_eleven}}">11. {{left_eleven}}</label>
    </div>
	{% endif %}
	{% if options > 11 %}
	<div class="question">
      <label><name="left_twelve" id="12" value="{{left_twelve}}">12. {{left_twelve}}</label>
    </div>
	{% endif %}
	{% if options > 12 %}
	<div class="question">
      <label><name="left_thirteen" id="13" value="{{left_thirteen}}">13. {{left_thirteen}}</label>
    </div>
	{% endif %}
	{% if options > 13 %}
	<div class="question">
      <label><name="left_fourteen" id="14" value="{{left_fourteen}}">14. {{left_fourteen}}</label>
    </div>
	{% endif %}
	{% if options > 14 %}
	<div class="question">
      <label><name="left_fifteen" id="15" value="{{left_fifteen}}">15. {{left_fifteen}}</label>
    </div>
	{% endif %}
	{% if right_one != "" %}
	<div class = "choice" style="text-align:right;float:right;"
      <label><name="right_one" id="a" value="{{right_one}}">{{rep1}}. {{right_one}}</label>
    </div>
	{% endif %}
	{% if right_two != "" %}
	<div class="choice" align="right">
      <label><name="right_two" id="b" value="{{right_two}}">{{rep2}}. {{right_two}}</label>
    </div>
	{% endif %}
	{% if right_three != "" %}
	<div class="choice" align="right">
      <label><name="right_three" id="c" value="{{right_three}}">{{rep3}}. {{right_three}}</label>
    </div>
	{% endif %}
	{% if right_four != "" %}
	<div class="choice" align="right">
      <label><name="right_four" id="d" value="{{right_four}}">{{rep4}}. {{right_four}}</label>
    </div>
	{% endif %}
	{% if right_five != "" %}
	<div class="choice" align="right">
      <label><name="right_five" id="e" value="{{right_five}}">{{rep5}}. {{right_five}}</label>
    </div>
	{% endif %}
	{% if right_six != "" %}
	<div class="choice" align="right">
      <label><name="right_six" id="f" value="{{right_six}}">{{rep6}}. {{right_six}}</label>
    </div>
	{% endif %}
	{% if right_seven != "" %}
	<div class="choice" align="right">
      <label><name="right_seven" id="g" value="{{right_seven}}">{{rep7}}. {{right_seven}}</label>
    </div>
	{% endif %}
	{% if right_eight != "" %}
	<div class="choice" align="right">
      <label><name="right_eight" id="h" value="{{right_eight}}">{{rep8}}. {{right_eight}}</label>
    </div>
	{% endif %}
	{% if right_nine != "" %}
	<div class="choice" align="right">
      <label><name="right_nine" id="i" value="{{right_nine}}">{{rep9}}. {{right_nine}}</label>
    </div>
	{% endif %}
	{% if right_ten != "" %}
	<div class="choice" align="right">
      <label><name="right_ten" id="j" value="{{right_ten}}">{{rep10}}. {{right_ten}}</label>
    </div>
	{% endif %}
	{% if right_eleven != "" %}
	<div class="choice" align="right">
      <label><name="right_eleven" id="k" value="{{right_eleven}}">{{rep11}}. {{right_eleven}}</label>
    </div>
	{% endif %}
	{% if right_twelve != "" %}
	<div class="choice" align="right">
      <label><name="right_twelve" id="l" value="{{right_twelve}}">{{rep12}}. {{right_twelve}}</label>
    </div>
	{% endif %}
	{% if right_thirteen != "" %}
	<div class="choice" align="right">
      <label><name="right_thirteen" id="m" value="{{right_thirteen}}">{{rep13}}. {{right_thirteen}}</label>
    </div>
	{% endif %}
	{% if right_fourteen != "" %}
	<div class="choice" align="right">
      <label><name="right_fourteen" id="n" value="{{right_fourteen}}">{{rep14}}. {{right_fourteen}}</label>
    </div>
	{% endif %}
	{% if right_fifteen != "" %}
	<div class="choice" align="right">
      <label><name="right_fifteen" id="o" value="{{right_fifteen}}">{{rep15}}. {{right_fifteen}}</label>
    </div>
	{% endif %}
	</form>
    <form action= "" method = "POST" class = "AnswerForm">
		{% csrf_token %}
		{% if options > 0 %}
			<div class = "answer" style="text-align:center;float:center;"
			<p align = "center">{{left_one}}</p>
			<p align = "center">{{ form.answer_one }}</p>
		{% endif %}
		{% if options > 1 %}
			<p align = "center">{{left_two}}</p>
			<p align = "center">{{ form.answer_two }}</p>
		{% endif %}
		{% if options > 2 %}
			<p align = "center">{{left_three}}</p>
			<p align = "center">{{ form.answer_three }}</p>
		{% endif %}
		{% if options > 3 %}
			<p align = "center">{{left_four}}</p>
			<p align = "center">{{ form.answer_four }}</p>
		{% endif %}
		{% if options > 4 %}
			<p align = "center">{{left_five}}</p>
			<p align = "center">{{ form.answer_five }}</p>
		{% endif %}
		{% if options > 5 %}
			<p align = "center">{{left_six}}</p>
			<p align = "center">{{ form.answer_six }}</p>
		{% endif %}
		{% if options > 6 %}
			<p align = "center">{{left_seven}}</p>
			<p align = "center">{{ form.answer_seven }}</p>
		{% endif %}
		{% if options > 7 %}
			<p align = "center">{{left_eight}}</p>
			<p align = "center">{{ form.answer_eight }}</p>
		{% endif %}
		{% if options > 8 %}
			<p align = "center">{{left_nine}}</p>
			<p align = "center">{{ form.answer_nine }}</p>
		{% endif %}
		{% if options > 9 %}
			<p align = "center">{{left_ten}}</p>
			<p align = "center">{{ form.answer_ten }}</p>	
		{% endif %}
		{% if options > 10 %}
			<p align = "center">{{left_eleven}}</p>
			<p align = "center">{{ form.answer_eleven }}</p>
		{% endif %}
		{% if options > 11 %}
			<p align = "center">{{left_twelve}}</p>
			<p align = "center">{{ form.answer_twelve }}</p>
		{% endif %}
		{% if options > 12 %}
			<p align = "center">{{left_thirteen}}</p>
			<p align = "center">{{ form.answer_thirteen }}</p>
		{% endif %}
		{% if options > 13 %}
			<p align = "center">{{left_fourteen}}</p>
			<p align = "center">{{ form.answer_fourteen }}</p>
		{% endif %}
		{% if options > 14 %}
			<p align = "center">{{left_fifteen}}</p>
			<p align = "center">{{ form.answer_fifteen }}</p>
		{% endif %}
		</div>
   <center><input type = "submit" value = "Submit"/></center>
   </form>
</div>
</html>
{% endblock %}