{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matching Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% csrf_token %}
<html>
<p>{{ title }}</p>
<div class="container">
   <form method="GET" class="MatchingForm" id="quiz">
    {% csrf_token %}
    <div class="question" style="text-align:left;float:left;">
      <label><name="left_one" id="1" value="{{left_one}}">{{left_one}}</label>
    </div>
	<br>
    <div class="question">
      <label><name="left_two" id="2" value="{{left_two}}">{{left_two}}</label>
    </div>
    <div class="question">
      <label><name="left_three" id="3" value="{{left_three}}">{{left_three}}</label>
    </div>
    <div class="question">
      <label><name="left_four" id="4" value="{{left_four}}">{{left_four}}</label>
    </div>
	<div class="choice" align="right" style="text-align:right;float:right;">
      <label><name="right_one" id="a" value="{{right_one}}">{{right_one}}</label>
    </div>
	<br>
	<div class="choice" align="right">
      <label><name="right_two" id="b" value="{{right_two}}">{{right_two}}</label>
    </div>
	<div class="choice" align="right">
      <label><name="right_three" id="c" value="{{right_three}}">{{right_three}}</label>
    </div>
	<div class="choice" align="right">
      <label><name="right_four" id="d" value="{{right_four}}">{{right_four}}</label>
    </div>
	<div class="answer" align="center">
      <label><input type="text" name="answer_one" id="a1"></label>
    </div>
	<div class="answer" align="center">
      <label><input type="text" name="answer_two" id="a2"></label>
    </div>
	<div class="answer" align="center">
      <label><input type="text" name="answer_three" id="a3"></label>
    </div>
	<div class="answer" align="center">
      <label><input type="text" name="answer_four" id="a4"></label>
    </div>
   <button type="submit" class="btn btn-default">Submit</button>
   <button onclick="Test()">Test</button>
   <script>
   function Test(){
		var c1 = document.getElementById('a').innerHTML;
		var c2 = document.getElementById('b').innerHTML;
		var c3 = document.getElementById('c').innerHTML;
		var c4 = document.getElementById('d').innerHTML;
		
		var a1 = document.getElementById('a1').value;
		var a2 = document.getElementById('a2').value;
		var a3 = document.getElementById('a3').value;
		var a4 = document.getElementById('a4').value;
		
		var equal1 = strcmp(a1, c1)
		var equal2 = strcmp(a2, c2)
		var equal3 = strcmp(a3, c3)
		var equal4 = strcmp(a4, c4)
		
		if((equal1 == 0) && (equal2 == 0) && (equal3 == 0) && (equal4 == 0)){
			window.alert("Correct!");
		}
		else{
			window.alert("Incorrect");
		}
   }
function strcmp ( str1, str2 ) {
    // http://kevin.vanzonneveld.net
    // +   original by: Waldo Malqui Silva
    // +      input by: Steve Hilder
    // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +    revised by: gorthaur
    // *     example 1: strcmp( 'waldo', 'owald' );
    // *     returns 1: 1
    // *     example 2: strcmp( 'owald', 'waldo' );
    // *     returns 2: -1

    return ( ( str1 == str2 ) ? 0 : ( ( str1 > str2 ) ? 1 : -1 ) );
}
   </script>
  </form>
</div>
</html>
{% endblock %}