{% extends "../mainpage/base.html" %}


<!--

-->
{% block titleBlock %} Matching Question Creator Form {% endblock %}



{% block headContent %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
{% endblock %}


{% block content %}
<form action= "" method = "POST">
	{% csrf_token %}
	
	<p align = "center">Title</p>
	<p align = "center">{{ form.title }}</p>
	
	<p align = "left">Left One</p>
	<p align = "center">{{ form.left_one }}</p>
	<p align = "center">Left Two</p>
	<p align = "center">{{ form.left_two }}</p>
	<p align = "center">Left Three</p>
	<p align = "center">{{ form.left_three }}</p>
	<p align = "center">Left Four</p>
	<p align = "center">{{ form.left_four }}</p>
	
	<p align = "center">Right One</p>
	<p align = "center">{{ form.right_one }}</p>
	<p align = "center">Right Two</p>
	<p align = "center">{{ form.right_two }}</p>
	<p align = "center">Right Three</p>
	<p align = "center">{{ form.right_three }}</p>
	<p align = "center">Right Four</p>
	<p align = "center">{{ form.right_four }}</p>
	
	<center><input type = "submit" value = "Submit"/></center>
</form>
{% endblock %}

