{% extends "mainpage/base.html" %}

{% block title %} Matching {% endblock %}

{% block content %}

<form id="rendered-form" method="POST">
    {% csrf_token %}
    <div class="text-center" style="padding-bottom: 25px;">
        <h1 type="h1" class="header" name="" id="">
            Matching quiz settings selection
        </h1>
	</div>
	
	<div class="fb-radio form-group field-radio-group-multiple-choice text-center" >
        <label for="radio-group-multiple-choice" class="fb-radio-group-label" >
            Please enter your Matching Quiz details below
		</label>
		
		<div class="container-fluid" style="padding-top: 25px;">

            <div class="row" style="padding-bottom: 40px;">
                <label class="col-lg-4 control-label">Number of Quesitons:</label>

                <div class="col-lg-4 text-center">
                    <div class="ui-select">
                        <select name="question_number" class="form-control">
                            {% for choice in questions %}
                                <option value="{{ choice.1 }}">{{ choice.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                </div>
            </div>
		</div>
		
		<div class="form-group">
            <label class="col-lg-4 control-label">Number of Choices: </label>
            <div class="col-lg-4 text-center">
                <div class="ui-select">
                    <select name="answer_number" class="form-control">
                        {% for choice in choices %}
                        <option value="{{ choice.1 }}">{{ choice.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <div class="col-lg-4"
		</div>
		
		<div class="fb-submit form-group ">
            <button type="submit" class="button-input btn btn-success" name="submit-button" value="submit-button" id="button">Submit</button>
        </div>
    </div>
</form>

{% endblock %}
	