{% extends "../mainpage/base.html" %}


<!--

-->
{% block titleBlock %} Number of Matching Choices{% endblock %}



{% block headContent %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
{% endblock %}


{% block content %}
<form action= "" method = "POST">
	{% csrf_token %}
	<p align = "left">Options</p>
	<p align = "left">{{ form.options }}</p>
	<center><input type = "submit" value = "Submit"/></center>
</form>
{% endblock %}

