{% extends "mainpage/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Multiple Choice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>

  </script>
</head>
<h1>Create Quiz Question</h1>
<form method="POST" class="QuestionForm">
    <!-- <input type="text" name="numOfQuestions"> -->
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form|crispy }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
<a href="{% url 'quiz' %}" class="top-menu"></a>
{% endblock %}
