{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Multiple Choice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    // $(function()
    // {
    //   $('#quiz').on('change', function(){
    //     alert($('input[name=optradio]:checked','#quiz').val());
    //   })
    // })
    // $(document).ready(function(){
    //   // $("#A").click(function(event){
    //     if ($('input[name=A]:checked').val() == correctAnswer) {
    //         alert($('input[name=optradio]:checked','#quiz').val());
    //     }
    //   // })
    // })
    $(document).ready(function(){
      $('#quiz').on('change', function(){
        if($('#A').val() || $('#B').val() || $('#C').val() || $('#D').val() == '{{correctAnswer}}'){
          alert('youre correct');
        }
      })
    })

</script>
</head>
{% csrf_token %}
<html>
<p>{{ title }}</p>
<div class="container">
   <form method="GET" class="QuestionForm" id="quiz">
    <div class="radio">
      <label><input type="radio" name="optradio" id="A" value="{{answerA}}">{{answerA}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" id="B" value="{{answerB}}">{{answerB}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" id="C" value="{{answerC}}">{{answerC}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" id="D" value="{{answerD}}">{{answerD}}</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</html>
{% endblock %}
