{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Multiple Choice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $('.likebutton').click(function(){
      var catid;
      catid = $(this).attr("data-catid");

      $.ajax({
        type:"GET",
        url: "/likepost",
        data: {
          quizID: catid
        },
        success:function(data){
          $('#like' + catid).remove();
          $('#message').text(data);
        }
      })
    });
</script>
</head>
{% csrf_token %}
<html>
<div class="container">
  <form method="POST" action="/multipleChoice/submit/">
    {% csrf_token %}
    <label for="quiz.title" name="title">{{title}}</label>
    <ul>
      <input type="radio" name="answer">{{answerA}}</input></br>
      <input type="radio" name="answer">{{answerB}}</input></br>
      <input type="radio" name="answer">{{answerC}}</input></br>
      <input type="radio" name="answer">{{answerD}}</input></br>
    </ul>
       <input type="submit" value="SUBMIT">
  </form>
  <!-- <p id="reportScore">{{score}}</p> -->
</div>
</html>
{% endblock %}
