{% extends "mainpage/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Multiple Choice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- {% for question in quiz %} -->
  <script>
    if($("input[name='optradio']:checked").val("#optradio") == question.correct_answer){
      print "correct";
    };
  </script>
  <!-- {% endfor %} -->
</head>
{% csrf_token %}
<html>
<!-- {% for question in quiz %} -->
<p>{{ question.question }}</p>
<!-- <div class="container">
  <form action="" method="get">
    <div class="radio">
      <label><input type="radio" name="optradio">{{ question.answer_a }}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">{{ question.answer_b }}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">{{ question.answer_c }}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">{{ question.answer_d }}</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> -->
  <!-- {% endfor %} -->
</div>
</html>
{% endblock %}
