{% extends "mainpage/base.html" %}

{%  block title %}
    Profile
{% endblock %}

{% block content %}

<div class="container">
    <h1>Profile</h1>

    {% if notification != null %}
		{% if type == 'success' %}
			<div class="alert alert-success alert-dismissable">
			  <a class="panel-close close" data-dismiss="alert">×</a>
			  {{ user.first_name }}{{ notification }}
			</div>
		{% else %}
			<div class="alert alert-danger alert-dismissable">
			  <a class="panel-close close" data-dismiss="alert">×</a>
			  {{ user.first_name }}{{ notification }}
			</div>
		{% endif %}
    {% endif %}
  	<hr>
	<div class="row">
      <!-- left column -->
        <!-- <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div> -->
      <div class="col-md-3">
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>

        <form class="form-horizontal" role="form" method="post" id="userform">
            {% csrf_token %}
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input name='username' class="form-control" type="text" value="{{ user }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input name='first_name' class="form-control" type="text" value="{{ user.first_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input name='last_name' class="form-control" type="text" value="{{ user.last_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input name='email' class="form-control" type="text" value={{ user.email }}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input name='savebutton' type="submit" class="btn btn-primary" value="Save User info">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>

  </div>
 	<hr>
	<div class="row">
      <!-- left column -->
    <!-- <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div> -->
      <div class="col-md-3">
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Password info</h3>

        <form class="form-horizontal" role="form" id="preferencesform" method="post">
            {% csrf_token %}
         <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input name='new_password1' class="form-control" type="password" placeholder="***********">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input name='new_password2' class="form-control" type="password" placeholder="***********">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input name='savebutton' type="submit" class="btn btn-primary" value="Save Password">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>

  	<hr>
	<div class="row">
      <!-- left column -->
    <!-- <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div> -->
      <div class="col-md-3">
      </div>
        
        <a href="/logout/" class="btn btn-danger pull-right">Log out {{ user.username }}</a>
      </div>
  </div>
</div>



<hr>


{% endblock %}
