{% extends "mainpage/base.html" %}

{%  block title %}
    Profile
{% endblock %}

{% block content %}

<div class="container">
    <h1>Profile</h1>

    {% if notification != null %}
    <div class="alert alert-success alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
        {% if user.first_name == '' %}
            {{ user.username }}{{ notification }}
        {% else %}
            {{ user.first_name }}{{ notification }}
        {% endif %}
    </div>

    {% endif %}
  	<hr>
	<div class="row">
      <!-- left column -->
        <!-- <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div> -->
      <div class="col-md-3">
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>

        <form class="form-horizontal" role="form" method="post" id="userform">
            {% csrf_token %}
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input name='username' class="form-control" type="text" value="{{ user }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input name='first_name' class="form-control" type="text" value="{{ user.first_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input name='last_name' class="form-control" type="text" value="{{ user.last_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input name='email' class="form-control" type="text" value={{ user.email }}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input name='savebutton' type="submit" class="btn btn-primary" value="Save User info">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
                <a href="/profile/edit" class="btn btn-default">Edit Information</a>
            </div>
          </div>
        </form>
      </div>

  </div>
 	<hr>
	<div class="row">
      <!-- left column -->
    <!-- <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div> -->
      <div class="col-md-3">
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Password info</h3>

        <form class="form-horizontal" role="form" id="preferencesform" method="post">
            {% csrf_token %}
         <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input name='new_password1' class="form-control" type="password" placeholder="***********">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input name='new_password2' class="form-control" type="password" placeholder="***********">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input name='savebutton' type="submit" class="btn btn-primary" value="Save Password">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
                <a href="/profile/edit" class="btn btn-default">Edit Information</a>
            </div>
          </div>
        </form>
      </div>
  </div>

  	<hr>
	<div class="row">
      <!-- left column -->
    <!-- <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div> -->
      <div class="col-md-3">
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Website preferences</h3>

        <form class="form-horizontal" role="form" method="post" id="preferencesform">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-lg-3 control-label">Default language:</label>
                <div class="col-lg-8">
                    <div class="ui-select">
                        <select  name='user_language' class="form-control">
                            {% for choice in prefs.LANGUAGES %}
                            <option value="{{ choice.1 }}" {% if prefs.defaultLanguage == choice.0 %}selected{% endif %}>{{ choice.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Difficulty:</label>
                <div class="col-lg-8">
                    <div class="ui-select">
                        <select name="user_difficulty" class="form-control">
                            {% for choice in prefs.DIFFICULTIES %}
                            <option value="{{ choice.1 }}" {% if prefs.difficulty == choice.0 %}selected{% endif %}>{{ choice.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input name='savebutton' type="submit" class="btn btn-primary" value="Save User Prefs">
                        <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                    <a href="/profile/edit" class="btn btn-default">Edit Information</a>
                </div>
          </div>
        </form>
        <a href="/logout/" class="btn btn-default pull-right">Log out {{ user.username }}</a>
      </div>
  </div>
</div>



<hr>


{% endblock %}
