{% extends "mainpage/base.html" %}

{% block content %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Account Settings</h1>
  </div>
  <div class="container">
    <h3>Change Email or Password</h3>
    <!-- if user clicks change email, go to change email form -->
    <!-- if user clicks change email, go to change email form -->
    <button type = "button" class = "btn btn-primary btn-lg">
      Update Email
   </button>
   <button type = "button" class = "btn btn-primary btn-lg">
      Update Password
   </button>
  </div>
  <div class="container">
    <h3>Enrolled Courses</h3>
    <button type = "button" class = "btn btn-primary btn-lg">
      <!-- if user clicks button, remove course from user account  -->
      Delete Course
   </button>
  </div>
</body>
{% end block %}
